{
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["import", "@typescript-eslint", "prettier"],
  "rules": {
    "import/extensions": ["error", "always", {
      "js": "never",
      "ts": "never"
    }],
    "import/no-unresolved": "error",
    "import/named": "error",
    "@typescript-eslint/no-unused-vars": ["warn", {
      "argsIgnorePattern": "^_",
      "varsIgnorePattern": "^_"
    }],
    "@typescript-eslint/no-explicit-any": "warn",
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }]
  },
  "settings": {
    "import/extensions": [".js", ".ts", ".jsx", ".tsx"]
  },
  "parser": "@typescript-eslint/parser"
}