{
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["import"],
  "rules": {
    "import/extensions": ["error", "always", {
      "js": "never",
      "ts": "never"
    }],
    "import/no-unresolved": "off"
  },
  "settings": {
    "import/extensions": [".js", ".ts", ".jsx", ".tsx"]
  }
}